services:
  db:
    image: timescale/timescaledb-ha:pg17
    restart: always
    volumes:
      - waveview_data:/home/postgres/pgdata/data
    environment:
      - POSTGRES_USER=${DATABASE_USER}
      - POSTGRES_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_DB=${DATABASE_NAME}
  
  redis:
    image: redis:8.4-alpine
    restart: always

  memcached:
    image: memcached:1.6-alpine
    restart: always

  rabbitmq:
    image: rabbitmq:4.2-management-alpine
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}

  web:
    build: .
    restart: always
    entrypoint: ["/code/entrypoint.sh"]
    command: daphne -b 0.0.0.0 -p 8000 waveview.asgi:application
    env_file:
      - ./.env
    ports:
      - "8000:8000"
    volumes:
      - ${STORAGE_DIR}:/app/storage
    depends_on:
      - db
      - redis
      - memcached
      - rabbitmq

  celery:
    build: .
    command: celery -A waveview worker -l info
    entrypoint: ["/code/entrypoint_celery.sh"]
    env_file:
      - ./.env
    volumes:
      - ${STORAGE_DIR}:/app/storage
    depends_on:
      - web

  celery-beat:
    build: .
    command: celery -A waveview beat -l info
    entrypoint: ["/code/entrypoint_celery.sh"]
    env_file:
      - ./.env
    volumes:
      - ${STORAGE_DIR}:/app/storage
    depends_on:
      - web

volumes:
  waveview_data:
